@page "/BeautySalons"
@using Fluxor
@using PlanityBlazor.BlazorApp.BeautySalonContext.GetBeautySalonsQuery
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<MyState> MyState


<h3>BeautySalons</h3>
@if (MyState.Value.Progress)
{
    <span>Loading...</span>
}
@if (MyState.Value.Salons.Any())
{
    <div>
        <ul>
            @foreach (string salon in MyState.Value.Salons)
            {
                <li>@salon</li>
            }
        </ul>
    </div>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        Dispatcher.Dispatch(new GetSalonsAction());
    }

}
