@using Fluxor
@using PlanityBlazor.BlazorApp.BeautySalonContext.CreateBeautySalon
@inject IDispatcher Dispatcher
@inject NavigationManager NavigationManager
@inject IActionSubscriber ActionSubscriber


@implements IDisposable

<h3>CreateBeautySalonComponent</h3>

<InputText id="beautySalonNameInput" @bind-Value="Name"/>
@if (CreateBeautySalonViewModel.State == ViewModelState.Error)
{
    <span id="beauty-salon-name-error" class="blazor-error-boundary">@CreateBeautySalonViewModel.Message</span>
}


<button @onclick="@CreateBeautySalon" id="createBeautySalonButton">
    @if (CreateBeautySalonViewModel.State == ViewModelState.Progress)
    {
        <span>Loading...</span>
    }
    else
    {
        <span>Create</span>
    }
</button>

@code {
    [Parameter] public required CreateBeautySalonViewModel CreateBeautySalonViewModel { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ActionSubscriber.SubscribeToAction<CreateABeautySalonCompleteAction>(this, _ => { NavigationManager.NavigateTo("/BeautySalons"); });
        }
    }

    public string? Name { get; set; }

    private void CreateBeautySalon()
    {
        Dispatcher.Dispatch(new CreateABeautySalonAction(Name));
    }

    public void Dispose()
    {
        ActionSubscriber.UnsubscribeFromAllActions(this);
    }

}